body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #5a2e0c, #a05a2c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* FORM BOX */
.form-box {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  animation: fadeUp 0.5s ease;
}

/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
}

.close-btn:hover {
  color: red;
}

/* INPUTS */
.form-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

/* BUTTON */
.btn {
  width: 100%;
  padding: 10px;
  background: #a05a2c;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #5a2e0c;
  transform: scale(1.05);
}

/* LINK */
.form-box a {
  color: #a05a2c;
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}